force-app/main/default/flows/ClaytonDiffScan.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Get_Pull_Request_Diff</name>
        <label>Get Pull Request Diff</label>
        <locationX>336</locationX>
        <locationY>758</locationY>
        <actionName>clayton::ClaytonPullRequestAPI.getPullRequestDiffBranches</actionName>
        <actionType>externalService</actionType>
        <connector>
            <targetReference>Is_PR_Completed</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Update_ClaytonScanJobFailed</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>account</name>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>diff</name>
            <value>
                <elementReference>PullRequestId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>project</name>
            <value>
                <elementReference>ProjectId</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Get_PullRequestDiffIssues</name>
        <label>Get PullRequestDiffIssues</label>
        <locationX>182</locationX>
        <locationY>1238</locationY>
        <actionName>clayton::ClaytonPullRequestAPI.getPullRequestDiffBranchesIssues</actionName>
        <actionType>externalService</actionType>
        <connector>
            <targetReference>All_Pages_Processed</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>account</name>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>diffId</name>
            <value>
                <elementReference>PullRequestId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>project</name>
            <value>
                <elementReference>ProjectId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>size</name>
            <value>
                <numberValue>30.0</numberValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Get_PullRequestDiffPageIssues</name>
        <label>Get PullRequestDiffPageIssues</label>
        <locationX>50</locationX>
        <locationY>1478</locationY>
        <actionName>clayton::ClaytonPullRequestAPI.getPullRequestDiffBranchesIssues</actionName>
        <actionType>externalService</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>account</name>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>diffId</name>
            <value>
                <elementReference>PullRequestId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>page</name>
            <value>
                <elementReference>CurrentPage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>project</name>
            <value>
                <elementReference>ProjectId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>size</name>
            <value>
                <numberValue>30.0</numberValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>ScanByDiff</name>
        <label>ScanByDiff</label>
        <locationX>677</locationX>
        <locationY>278</locationY>
        <actionName>clayton::ClaytonScanAPI.scanByDiff</actionName>
        <actionType>externalService</actionType>
        <connector>
            <targetReference>AssignPullRequestId</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>account</name>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>ScanByDiffForm</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>project</name>
            <value>
                <elementReference>ProjectId</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Assign_ScanByDiffForm</name>
        <label>Assign ScanByDiffForm</label>
        <locationX>677</locationX>
        <locationY>158</locationY>
        <assignmentItems>
            <assignToReference>ScanByDiffForm.branchx5fsource</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SourceBranch</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ScanByDiffForm.branchx5ftarget</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TargetBranch</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ScanByDiffForm.housex5fkeeping</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ScanByDiffForm.stealthx5fmode</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ScanByDiff</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignPullRequestId</name>
        <label>Assign Pull Request Id</label>
        <locationX>677</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>PullRequestId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ScanByDiff.200.id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ScanByDiff.200.task.id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_ClaytonScanJob</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>All_Pages_Processed</name>
        <label>All Pages Processed</label>
        <locationX>182</locationX>
        <locationY>1358</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_CurrentPage</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CurrentPage</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>TotalPages</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_PullRequestDiffPageIssues</targetReference>
            </connector>
            <label>Check CurrentPage</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_PR_Completed</name>
        <label>Is PullRequest Completed</label>
        <locationX>336</locationX>
        <locationY>878</locationY>
        <defaultConnector>
            <targetReference>Wait_Completed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Success</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Pull_Request_Diff.200.isx5fprocessing</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_ClaytonScanJob</targetReference>
            </connector>
            <label>Success</label>
        </rules>
    </decisions>
    <formulas>
        <name>AccountId</name>
        <dataType>String</dataType>
        <expression>{!$Setup.clayton__ClaytonSettings__c.clayton__AccountId__c}</expression>
    </formulas>
    <formulas>
        <name>CheckScanIsCompletedResumeTime</name>
        <dataType>DateTime</dataType>
        <expression>{!$Flow.CurrentDateTime} + {!WaitingTimeMinutes} / (24 * 60)</expression>
    </formulas>
    <formulas>
        <name>ProjectId</name>
        <dataType>String</dataType>
        <expression>{!$Setup.clayton__ClaytonSettings__c.clayton__ProjectId__c}</expression>
    </formulas>
    <formulas>
        <name>SalesforceOrgUrl</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Api.Partner_Server_URL_340}, FIND( &apos;/services&apos;, {!$Api.Partner_Server_URL_340}))</expression>
    </formulas>
    <formulas>
        <name>TotalPages</name>
        <dataType>Number</dataType>
        <expression>ROUND({!Get_PullRequestDiffIssues.200.totalx5felements},0)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>WaitingTimeMinutes</name>
        <dataType>Number</dataType>
        <expression>{!$Setup.clayton__ClaytonSettings__c.clayton__WaitingTimeMinutes__c}</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>ClaytonDiffScan {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ClaytonDiffScan</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_ClaytonScanJob</name>
        <label>Create ClaytonScanJob</label>
        <locationX>677</locationX>
        <locationY>518</locationY>
        <assignRecordIdToReference>CopadoResultId</assignRecordIdToReference>
        <connector>
            <targetReference>Wait_Completed</targetReference>
        </connector>
        <inputAssignments>
            <field>copado__Description__c</field>
            <value>
                <stringValue>Clayton Scan</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>copado__Job_Id__c</field>
            <value>
                <elementReference>TaskId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>copado__Job_Type__c</field>
            <value>
                <stringValue>Clayton Scan</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>copado__Start_Time__c</field>
            <value>
                <elementReference>$Flow.InterviewStartTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>copado__Status__c</field>
            <value>
                <stringValue>Processing</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>copado__User_Story__c</field>
            <value>
                <elementReference>UserStoryId</elementReference>
            </value>
        </inputAssignments>
        <object>copado__Result__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_StaticAnalysisResult</name>
        <label>Create StaticAnalysisResult</label>
        <locationX>182</locationX>
        <locationY>1118</locationY>
        <assignRecordIdToReference>CopadoStaticCodeAnalysisResult</assignRecordIdToReference>
        <connector>
            <targetReference>Get_PullRequestDiffIssues</targetReference>
        </connector>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>Clayton</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>copado__User_Story__c</field>
            <value>
                <elementReference>UserStoryId</elementReference>
            </value>
        </inputAssignments>
        <object>copado__Static_Code_Analysis_Result__c</object>
    </recordCreates>
    <recordUpdates>
        <name>Update_ClaytonScanJob</name>
        <label>Update ClaytonScanJob</label>
        <locationX>182</locationX>
        <locationY>998</locationY>
        <connector>
            <targetReference>Create_StaticAnalysisResult</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CopadoResultId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>copado__End_Time__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>copado__Status__c</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <object>copado__Result__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_ClaytonScanJobFailed</name>
        <label>Update ClaytonScanJobFailed</label>
        <locationX>754</locationX>
        <locationY>878</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CopadoResultId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>copado__End_Time__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>copado__Error_Code__c</field>
            <value>
                <elementReference>Get_Pull_Request_Diff.responseCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>copado__Status__c</field>
            <value>
                <stringValue>Failed</stringValue>
            </value>
        </inputAssignments>
        <object>copado__Result__c</object>
    </recordUpdates>
    <start>
        <locationX>551</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Assign_ScanByDiffForm</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>CopadoResultId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CopadoStaticCodeAnalysisResult</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CurrentPage</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>PullRequestId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ScanByDiffForm</name>
        <apexClass>ExternalService__clayton__ClaytonScanAPI_ScanByDiffForm</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ScanId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SourceBranch</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TargetBranch</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TaskId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UserStoryId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <waits>
        <name>Wait_Completed</name>
        <label>Wait Completed</label>
        <locationX>677</locationX>
        <locationY>638</locationY>
        <defaultConnectorLabel>Default Path</defaultConnectorLabel>
        <waitEvents>
            <name>Get_Resume_Time_From_Formula</name>
            <conditionLogic>and</conditionLogic>
            <connector>
                <targetReference>Get_Pull_Request_Diff</targetReference>
            </connector>
            <eventType>AlarmEvent</eventType>
            <inputParameters>
                <name>AlarmTime</name>
                <value>
                    <elementReference>CheckScanIsCompletedResumeTime</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffset</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffsetUnit</name>
                <value>
                    <stringValue>Hours</stringValue>
                </value>
            </inputParameters>
            <label>Get Resume Time From Formula</label>
        </waitEvents>
    </waits>
</Flow>
