force-app/main/default/flows/Clayton_Scan.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>GetScan</name>
        <label>Get Scan</label>
        <locationX>228</locationX>
        <locationY>622</locationY>
        <actionName>clayton::ClaytonScan.getScan</actionName>
        <actionType>externalService</actionType>
        <connector>
            <targetReference>Is_Scan_Complete</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Delete</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>account</name>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>project</name>
            <value>
                <elementReference>ProjectId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>scan</name>
            <value>
                <elementReference>scanId</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>GetScanPolicies</name>
        <label>Get Scan Policies</label>
        <locationX>228</locationX>
        <locationY>931</locationY>
        <actionName>clayton::ClaytonScan.getPolicies</actionName>
        <actionType>externalService</actionType>
        <connector>
            <targetReference>Get_Scan_Policy_Sarif_Loop</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>account</name>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>page</name>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>pageable</name>
            <value>
                <stringValue>0</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>project</name>
            <value>
                <elementReference>ProjectId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>scan</name>
            <value>
                <elementReference>scanId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>size</name>
            <value>
                <numberValue>50.0</numberValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Scan_By_Branch</name>
        <label>Scan By Branch</label>
        <locationX>233</locationX>
        <locationY>271</locationY>
        <actionName>clayton::ClaytonScan.scanByBranch</actionName>
        <actionType>externalService</actionType>
        <connector>
            <targetReference>Assign_ScanId</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>account</name>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>form</name>
            <value>
                <elementReference>scanByBranchForm</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>project</name>
            <value>
                <elementReference>ProjectId</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Store_Global_Scan_Sarif</name>
        <label>Store Global Scan Sarif</label>
        <locationX>386</locationX>
        <locationY>1318</locationY>
        <actionName>StoreScanSarifController</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Update_Global_Report</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>Global_Result_Record_Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sarifUrl</name>
            <value>
                <elementReference>GetScan.200.sarifx5furl</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Global Result</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Store_Scan_Policy_Sarif</name>
        <label>Store Scan Policy Sarif</label>
        <locationX>903</locationX>
        <locationY>1026</locationY>
        <actionName>StoreScanSarifController</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Update_Scan_Policy_Record</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>Scan_Policy_Result_ID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sarifUrl</name>
            <value>
                <elementReference>Get_Scan_Policy_Sarif_Loop.sarifx5furl</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>Get_Scan_Policy_Sarif_Loop.title</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>Assign_Scan_By_Branch_Input</name>
        <label>Assign Scan By Branch Input</label>
        <locationX>233</locationX>
        <locationY>128</locationY>
        <assignmentItems>
            <assignToReference>scanByBranchForm.branch</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BranchName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>scanByBranchForm.stealthx5fmode</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>scanByBranchForm.z0type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>AUTO</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Scan_By_Branch</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_ScanId</name>
        <label>Assign ScanId</label>
        <locationX>233</locationX>
        <locationY>421</locationY>
        <assignmentItems>
            <assignToReference>scanId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Scan_By_Branch.200.id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Global_Scan_Result</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Is_Scan_Complete</name>
        <label>Is Scan Complete</label>
        <locationX>219</locationX>
        <locationY>770</locationY>
        <defaultConnector>
            <targetReference>Wait_Arbitrary_Time</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Success</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetScan.200.status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>READY</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetScanPolicies</targetReference>
            </connector>
            <label>Success</label>
        </rules>
        <rules>
            <name>Error</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetScan.200.status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ERROR</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_SARIF_Failed</targetReference>
            </connector>
            <label>Error</label>
        </rules>
    </decisions>
    <formulas>
        <name>AccountId</name>
        <dataType>String</dataType>
        <expression>{!$Setup.clayton__ClaytonSettings__c.clayton__AccountId__c}</expression>
    </formulas>
    <formulas>
        <name>BranchName</name>
        <dataType>String</dataType>
        <expression>&quot;feature/&quot;&amp;{!User_Story_Name}</expression>
    </formulas>
    <formulas>
        <name>Check_Git_Snapshot_Status_Resume_Time</name>
        <dataType>DateTime</dataType>
        <expression>{!$Flow.CurrentDateTime} + {!WaitingTimeMinutes} / (24 * 60)</expression>
    </formulas>
    <formulas>
        <name>Get_Global_Scan_Result</name>
        <dataType>String</dataType>
        <expression>IF({!GetScan.200.result}= &quot;NOT_PASSED&quot;, &quot;Failed&quot;, &quot;Success&quot;)</expression>
    </formulas>
    <formulas>
        <name>Get_Scan_Policy_Result</name>
        <dataType>String</dataType>
        <expression>IF({!Get_Scan_Policy_Sarif_Loop.result} = &quot;NOT_PASSED&quot;, &quot;Failed&quot;, &quot;Success&quot;)</expression>
    </formulas>
    <formulas>
        <name>ProjectId</name>
        <dataType>String</dataType>
        <expression>{!$Setup.clayton__ClaytonSettings__c.clayton__ProjectId__c}</expression>
    </formulas>
    <formulas>
        <name>SalesforceOrgUrl</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Api.Partner_Server_URL_340}, FIND( &apos;/services&apos;, {!$Api.Partner_Server_URL_340}))</expression>
    </formulas>
    <formulas>
        <name>Waiting_Time_Before_Sarif_Download</name>
        <dataType>DateTime</dataType>
        <expression>{!$Flow.CurrentDateTime} + 1 / (24 * 60)</expression>
    </formulas>
    <formulas>
        <name>WaitingTimeMinutes</name>
        <dataType>Number</dataType>
        <expression>{!$Setup.clayton__ClaytonSettings__c.clayton__WaitingTimeMinutes__c}</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Clayton Scan {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Clayton Scan</label>
    <loops>
        <name>Get_Scan_Policy_Sarif_Loop</name>
        <label>Loop Over Scan Policies</label>
        <locationX>390</locationX>
        <locationY>931</locationY>
        <collectionReference>GetScanPolicies.200.content</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Create_Scan_Policy_Result</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Wait_Arbitrary_Time_0_0</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Global_Scan_Result</name>
        <label>Create Global Scan Result</label>
        <locationX>528</locationX>
        <locationY>432</locationY>
        <assignRecordIdToReference>Global_Result_Record_Id</assignRecordIdToReference>
        <connector>
            <targetReference>Wait_Arbitrary_Time</targetReference>
        </connector>
        <inputAssignments>
            <field>copado__Description__c</field>
            <value>
                <stringValue>Global Scan</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>copado__Job_Id__c</field>
            <value>
                <elementReference>scanId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>copado__Job_Type__c</field>
            <value>
                <stringValue>Global Scan</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>copado__Start_Time__c</field>
            <value>
                <elementReference>$Flow.InterviewStartTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>copado__Status__c</field>
            <value>
                <stringValue>Processing</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>copado__User_Story__c</field>
            <value>
                <elementReference>User_Story_ID</elementReference>
            </value>
        </inputAssignments>
        <object>copado__Result__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Scan_Policy_Result</name>
        <label>Create Scan Policy Result</label>
        <locationX>590</locationX>
        <locationY>1025</locationY>
        <assignRecordIdToReference>Scan_Policy_Result_ID</assignRecordIdToReference>
        <connector>
            <targetReference>Wait_Arbitrary_Time_0</targetReference>
        </connector>
        <inputAssignments>
            <field>copado__Description__c</field>
            <value>
                <elementReference>Get_Scan_Policy_Sarif_Loop.title</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>copado__Job_Id__c</field>
            <value>
                <elementReference>Get_Scan_Policy_Sarif_Loop.id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>copado__Job_Type__c</field>
            <value>
                <stringValue>Policy Scan</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>copado__Link__c</field>
            <value>
                <elementReference>Get_Scan_Policy_Sarif_Loop.htmlx5furl</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>copado__Start_Time__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>copado__Status__c</field>
            <value>
                <stringValue>Processing</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>copado__User_Story__c</field>
            <value>
                <elementReference>User_Story_ID</elementReference>
            </value>
        </inputAssignments>
        <object>copado__Result__c</object>
    </recordCreates>
    <recordDeletes>
        <name>Delete</name>
        <label>Delete</label>
        <locationX>46</locationX>
        <locationY>619</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Global_Result_Record_Id</elementReference>
            </value>
        </filters>
        <object>copado__Result__c</object>
    </recordDeletes>
    <recordUpdates>
        <name>Get_SARIF_Failed</name>
        <label>Get SARIF Failed</label>
        <locationX>55</locationX>
        <locationY>770</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Global_Result_Record_Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>copado__End_Time__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>copado__Error_Code__c</field>
            <value>
                <stringValue>500</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>copado__Status__c</field>
            <value>
                <stringValue>Failed</stringValue>
            </value>
        </inputAssignments>
        <object>copado__Result__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Global_Report</name>
        <label>Update Global Report</label>
        <locationX>389</locationX>
        <locationY>1477</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Global_Result_Record_Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>copado__End_Time__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>copado__Link__c</field>
            <value>
                <elementReference>GetScan.200.htmlx5furl</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>copado__Status__c</field>
            <value>
                <elementReference>Get_Global_Scan_Result</elementReference>
            </value>
        </inputAssignments>
        <object>copado__Result__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Scan_Policy_Record</name>
        <label>Update Scan Policy Record</label>
        <locationX>1061</locationX>
        <locationY>949</locationY>
        <connector>
            <targetReference>Get_Scan_Policy_Sarif_Loop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Scan_Policy_Result_ID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>copado__End_Time__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>copado__Status__c</field>
            <value>
                <elementReference>Get_Scan_Policy_Result</elementReference>
            </value>
        </inputAssignments>
        <object>copado__Result__c</object>
    </recordUpdates>
    <start>
        <locationX>112</locationX>
        <locationY>2</locationY>
        <connector>
            <targetReference>Assign_Scan_By_Branch_Input</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Global_Result_Record_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Scan_Policy_Result</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>copado__Result__c</objectType>
    </variables>
    <variables>
        <name>Scan_Policy_Result_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Scan_Results</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>copado__Result__c</objectType>
    </variables>
    <variables>
        <name>scanByBranchForm</name>
        <apexClass>ExternalService__clayton__ClaytonScan_ScanByBranchForm</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>scanId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>User_Story_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>User_Story_Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <waits>
        <name>Wait_Arbitrary_Time</name>
        <label>Wait Arbitrary Time</label>
        <locationX>510</locationX>
        <locationY>673</locationY>
        <defaultConnectorLabel>Default Path</defaultConnectorLabel>
        <waitEvents>
            <name>Get_Resume_Time_from_Formula</name>
            <conditionLogic>and</conditionLogic>
            <connector>
                <targetReference>GetScan</targetReference>
            </connector>
            <eventType>AlarmEvent</eventType>
            <inputParameters>
                <name>AlarmTime</name>
                <value>
                    <elementReference>Check_Git_Snapshot_Status_Resume_Time</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffset</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffsetUnit</name>
                <value>
                    <stringValue>Hours</stringValue>
                </value>
            </inputParameters>
            <label>Get Resume Time from Formula</label>
        </waitEvents>
    </waits>
    <waits>
        <name>Wait_Arbitrary_Time_0</name>
        <label>Wait Arbitrary Time</label>
        <locationX>740</locationX>
        <locationY>1024</locationY>
        <defaultConnectorLabel>Default Path</defaultConnectorLabel>
        <waitEvents>
            <name>Get_Resume_Time_from_Formula_0</name>
            <conditionLogic>and</conditionLogic>
            <connector>
                <targetReference>Store_Scan_Policy_Sarif</targetReference>
            </connector>
            <eventType>AlarmEvent</eventType>
            <inputParameters>
                <name>AlarmTime</name>
                <value>
                    <elementReference>Waiting_Time_Before_Sarif_Download</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffset</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffsetUnit</name>
                <value>
                    <stringValue>Hours</stringValue>
                </value>
            </inputParameters>
            <label>Get Resume Time from Formula</label>
        </waitEvents>
    </waits>
    <waits>
        <name>Wait_Arbitrary_Time_0_0</name>
        <label>Wait Arbitrary Time</label>
        <locationX>390</locationX>
        <locationY>1136</locationY>
        <defaultConnectorLabel>Default Path</defaultConnectorLabel>
        <waitEvents>
            <name>Get_Resume_Time_from_Formula_0_0</name>
            <conditionLogic>and</conditionLogic>
            <connector>
                <targetReference>Store_Global_Scan_Sarif</targetReference>
            </connector>
            <eventType>AlarmEvent</eventType>
            <inputParameters>
                <name>AlarmTime</name>
                <value>
                    <elementReference>Waiting_Time_Before_Sarif_Download</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffset</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffsetUnit</name>
                <value>
                    <stringValue>Hours</stringValue>
                </value>
            </inputParameters>
            <label>Get Resume Time from Formula</label>
        </waitEvents>
    </waits>
</Flow>
