force-app/main/default/flows/Clayton_Diff_Scan_Commit_Trigger.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <formulas>
        <name>AccountId</name>
        <dataType>String</dataType>
        <expression>{!$Setup.clayton__ClaytonSettings__c.clayton__AccountId__c}</expression>
    </formulas>
    <formulas>
        <name>UserStoryId</name>
        <dataType>String</dataType>
        <expression>{!$Record.copado__User_Story__r.Id}</expression>
    </formulas>
    <interviewLabel>Clayton Diff Scan Commit Trigger {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Clayton Diff Scan Commit Trigger</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Initialise_Scan_Context</targetReference>
        </connector>
        <object>copado__User_Story_Commit__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Initialise_Scan_Context</name>
        <label>Initialise Scan Context</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <connector>
            <targetReference>ScanByDiff_Clayton_API</targetReference>
        </connector>
        <flowName>Initialise_Scan_Context</flowName>
        <inputAssignments>
            <name>UserStoryId</name>
            <value>
                <elementReference>UserStoryId</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>BaseBranch</assignToReference>
            <name>BaseBranch</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ProjectId</assignToReference>
            <name>ProjectId</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>TargetBranch</assignToReference>
            <name>TargetBranch</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>ScanByDiff_Clayton_API</name>
        <label>ScanByDiff Clayton API</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <flowName>ScanByDiff_Clayton_API</flowName>
        <inputAssignments>
            <name>AccountId</name>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>BaseBranch</name>
            <value>
                <elementReference>BaseBranch</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ProjectId</name>
            <value>
                <elementReference>ProjectId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>TargetBranch</name>
            <value>
                <elementReference>TargetBranch</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>UserStoryId</name>
            <value>
                <elementReference>UserStoryId</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>ClaytonScanId</assignToReference>
            <name>ClaytonScanId</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ClaytonTaskId</assignToReference>
            <name>ClaytonTaskId</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>CopadoResultId</assignToReference>
            <name>CopadoResultId</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>BaseBranch</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ClaytonScanId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ClaytonTaskId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CopadoResultId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ProjectId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TargetBranch</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
