force-app/main/default/flows/ClaytonDiffScan.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Scan_By_Diff</name>
        <label>Scan By Diff</label>
        <locationX>182</locationX>
        <locationY>398</locationY>
        <actionName>clayton::ClaytonScanAPI.scanByDiff</actionName>
        <actionType>externalService</actionType>
        <connector>
            <targetReference>Check_No_Exceptions</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Create_Clayton_Scan_Job_Failed</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>account</name>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>ScanByDiffInput</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>project</name>
            <value>
                <elementReference>ProjectId</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Assign_ScanByDiff_Input</name>
        <label>Assign ScanByDiff Input</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>ScanByDiffInput.branchx5fsource</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BaseBranch</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ScanByDiffInput.branchx5ftarget</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TargetBranch</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ScanByDiffInput.housex5fkeeping</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ScanByDiffInput.stealthx5fmode</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Scan_By_Diff</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_No_Exceptions</name>
        <label>Check No Exceptions</label>
        <locationX>182</locationX>
        <locationY>518</locationY>
        <defaultConnector>
            <targetReference>Create_Clayton_Scan_Job_Failed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_Exceptions</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Scan_By_Diff.defaultExc</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Clayton_Scan_Job</targetReference>
            </connector>
            <label>No Exceptions</label>
        </rules>
    </decisions>
    <formulas>
        <name>AccountId</name>
        <dataType>String</dataType>
        <expression>{!$Setup.clayton__ClaytonSettings__c.clayton__AccountId__c}</expression>
    </formulas>
    <interviewLabel>Clayton Diff Scan {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>Clayton Diff Scan</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Clayton_Scan_Job</name>
        <label>Create Clayton Scan Job</label>
        <locationX>50</locationX>
        <locationY>638</locationY>
        <assignRecordIdToReference>CopadoResultId</assignRecordIdToReference>
        <inputAssignments>
            <field>copado__Description__c</field>
            <value>
                <stringValue>Clayton Scan</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>copado__Job_Id__c</field>
            <value>
                <elementReference>Scan_By_Diff.200.id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>copado__Job_Type__c</field>
            <value>
                <stringValue>Clayton Scan</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>copado__Start_Time__c</field>
            <value>
                <elementReference>$Flow.InterviewStartTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>copado__Status__c</field>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>copado__User_Story__c</field>
            <value>
                <elementReference>UserStoryId</elementReference>
            </value>
        </inputAssignments>
        <object>copado__Result__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Clayton_Scan_Job_Failed</name>
        <label>Create Clayton Scan Job Failed</label>
        <locationX>314</locationX>
        <locationY>638</locationY>
        <assignRecordIdToReference>CopadoResultId</assignRecordIdToReference>
        <inputAssignments>
            <field>copado__Description__c</field>
            <value>
                <stringValue>Clayton Scan</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>copado__End_Time__c</field>
            <value>
                <elementReference>$Flow.InterviewStartTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>copado__Error_Code__c</field>
            <value>
                <elementReference>Scan_By_Diff.responseCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>copado__Error_Message__c</field>
            <value>
                <elementReference>Scan_By_Diff.defaultExc</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>copado__Job_Id__c</field>
            <value>
                <elementReference>Scan_By_Diff.200.id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>copado__Job_Type__c</field>
            <value>
                <stringValue>Clayton Scan</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>copado__Start_Time__c</field>
            <value>
                <elementReference>$Flow.InterviewStartTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>copado__Status__c</field>
            <value>
                <stringValue>Failed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>copado__User_Story__c</field>
            <value>
                <elementReference>UserStoryId</elementReference>
            </value>
        </inputAssignments>
        <object>copado__Result__c</object>
    </recordCreates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Initialise_Scan_Context</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Initialise_Scan_Context</name>
        <label>Initialise Scan Context</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <connector>
            <targetReference>Assign_ScanByDiff_Input</targetReference>
        </connector>
        <flowName>Initialise_Scan_Context</flowName>
        <inputAssignments>
            <name>UserStoryId</name>
            <value>
                <elementReference>UserStoryId</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>BaseBranch</assignToReference>
            <name>BaseBranch</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ProjectId</assignToReference>
            <name>ProjectId</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>TargetBranch</assignToReference>
            <name>TargetBranch</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>BaseBranch</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ClaytonScanId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CopadoResultId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ProjectId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ScanByDiffInput</name>
        <apexClass>ExternalService__clayton__ClaytonScanAPI_ScanByDiffForm</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TargetBranch</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UserStoryId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
