force-app/main/default/flows/ClaytonDiffScan.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Get_Pull_Request_Diff</name>
        <label>Get Pull Request Diff</label>
        <locationX>446</locationX>
        <locationY>998</locationY>
        <actionName>clayton::ClaytonPullRequestAPI.getPullRequestDiffBranches</actionName>
        <actionType>externalService</actionType>
        <connector>
            <targetReference>Is_PR_Completed</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Update_ClaytonScanJobFailed</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>account</name>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>diff</name>
            <value>
                <elementReference>PullRequestId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>project</name>
            <value>
                <elementReference>ProjectId</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Get_PullRequest_Diff_Branches_Issues_Page</name>
        <label>Get Pull Request Diff Branches Issues Page</label>
        <locationX>50</locationX>
        <locationY>1478</locationY>
        <actionName>clayton::ClaytonPullRequestAPI.getPullRequestDiffBranchesIssues</actionName>
        <actionType>externalService</actionType>
        <connector>
            <targetReference>Assing_Issues</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>account</name>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>diffId</name>
            <value>
                <elementReference>PullRequestId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>page</name>
            <value>
                <elementReference>CurrentPage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>project</name>
            <value>
                <elementReference>ProjectId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>size</name>
            <value>
                <elementReference>PageSize</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Get_PullRequest_DiffBranches_Issues</name>
        <label>Get Pull Request Diff Branches Issues</label>
        <locationX>226</locationX>
        <locationY>1238</locationY>
        <actionName>clayton::ClaytonPullRequestAPI.getPullRequestDiffBranchesIssues</actionName>
        <actionType>externalService</actionType>
        <connector>
            <targetReference>Check_Processed_Pages</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>account</name>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>diffId</name>
            <value>
                <elementReference>PullRequestId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>project</name>
            <value>
                <elementReference>ProjectId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>size</name>
            <value>
                <elementReference>PageSize</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>TriggerScanByDiff</name>
        <label>Trigger ScanByDiff</label>
        <locationX>820</locationX>
        <locationY>398</locationY>
        <actionName>clayton::ClaytonScanAPI.scanByDiff</actionName>
        <actionType>externalService</actionType>
        <connector>
            <targetReference>AssignPullRequestId</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>account</name>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>ScanByDiffForm</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>project</name>
            <value>
                <elementReference>ProjectId</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Assign_ScanByDiffInput</name>
        <label>Assign ScanByDiff Input</label>
        <locationX>820</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>ScanByDiffForm.branchx5fsource</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SourceBranch</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ScanByDiffForm.branchx5ftarget</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TargetBranch</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ScanByDiffForm.housex5fkeeping</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ScanByDiffForm.stealthx5fmode</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>TriggerScanByDiff</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignPullRequestId</name>
        <label>Assign Pull Request Id</label>
        <locationX>820</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>PullRequestId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TriggerScanByDiff.200.id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TriggerScanByDiff.200.task.id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_ClaytonScanJob</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assing_Issues</name>
        <label>Assing Issues</label>
        <locationX>50</locationX>
        <locationY>1598</locationY>
        <assignmentItems>
            <assignToReference>TotalIssues</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_PullRequest_Diff_Branches_Issues_Page.200.content</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Increase_CurrentPage</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Increase_CurrentPage</name>
        <label>Increase CurrentPage</label>
        <locationX>50</locationX>
        <locationY>1718</locationY>
        <assignmentItems>
            <assignToReference>CurrentPage</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Processed_Pages</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Processed_Pages</name>
        <label>Check Processed Pages</label>
        <locationX>226</locationX>
        <locationY>1358</locationY>
        <defaultConnector>
            <targetReference>Create_Static_Code_Analysis_Violations</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>PagesAvailable</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CurrentPage</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>TotalPages</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_PullRequest_Diff_Branches_Issues_Page</targetReference>
            </connector>
            <label>PagesAvailable</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_PR_Completed</name>
        <label>Is Pull Request Completed</label>
        <locationX>446</locationX>
        <locationY>1118</locationY>
        <defaultConnector>
            <targetReference>Wait_Completed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Success</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Pull_Request_Diff.200.isx5fprocessing</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_PullRequest_DiffBranches_Issues</targetReference>
            </connector>
            <label>Success</label>
        </rules>
    </decisions>
    <formulas>
        <name>AccountId</name>
        <dataType>String</dataType>
        <expression>{!$Setup.clayton__ClaytonSettings__c.clayton__AccountId__c}</expression>
    </formulas>
    <formulas>
        <name>CheckScanIsCompletedResumeTime</name>
        <dataType>DateTime</dataType>
        <expression>{!$Flow.CurrentDateTime} + {!WaitingTimeMinutes} / (24 * 60)</expression>
    </formulas>
    <formulas>
        <name>IssuePriority</name>
        <dataType>Number</dataType>
        <expression>CASE({!Create_Static_Code_Analysis_Violations.severity}, &apos;CRITICAL&apos;, 1, &apos;ERROR&apos;, 2,3)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>IssueSeverity</name>
        <dataType>String</dataType>
        <expression>CASE({!Create_Static_Code_Analysis_Violations.severity}, &apos;CRITICAL&apos;, &apos;Critical&apos;, &apos;ERROR&apos;, &apos;Major&apos;,&apos;Minor&apos;)</expression>
    </formulas>
    <formulas>
        <name>ProjectId</name>
        <dataType>String</dataType>
        <expression>{!$Setup.clayton__ClaytonSettings__c.clayton__ProjectId__c}</expression>
    </formulas>
    <formulas>
        <name>SalesforceOrgUrl</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Api.Partner_Server_URL_340}, FIND( &apos;/services&apos;, {!$Api.Partner_Server_URL_340}))</expression>
    </formulas>
    <formulas>
        <name>SourceBranch</name>
        <dataType>String</dataType>
        <expression>&quot;feature/&quot;&amp;{!UserStoryName}</expression>
    </formulas>
    <formulas>
        <name>TargetBranch</name>
        <dataType>String</dataType>
        <expression>{!$Setup.clayton__ClaytonSettings__c.clayton__TargetBranch__c}</expression>
    </formulas>
    <formulas>
        <name>TotalPages</name>
        <dataType>Number</dataType>
        <expression>ROUND({!Get_PullRequest_DiffBranches_Issues.200.totalx5fpages},0)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>WaitingTimeMinutes</name>
        <dataType>Number</dataType>
        <expression>{!$Setup.clayton__ClaytonSettings__c.clayton__WaitingTimeMinutes__c}</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>ClaytonDiffScan {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ClaytonDiffScan</label>
    <loops>
        <name>Create_Static_Code_Analysis_Violations</name>
        <label>Create Static Code Analysis Violations</label>
        <locationX>402</locationX>
        <locationY>1478</locationY>
        <collectionReference>TotalIssues</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Create_Static_Code_Analysis_Violation</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_ClaytonScanJob</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_ClaytonScanJob</name>
        <label>Create Clayton Scan Job</label>
        <locationX>820</locationX>
        <locationY>638</locationY>
        <assignRecordIdToReference>CopadoResultId</assignRecordIdToReference>
        <connector>
            <targetReference>Create_Static_Code_Analysis_Result</targetReference>
        </connector>
        <inputAssignments>
            <field>copado__Description__c</field>
            <value>
                <stringValue>Clayton Scan</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>copado__Job_Id__c</field>
            <value>
                <elementReference>TaskId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>copado__Job_Type__c</field>
            <value>
                <stringValue>Clayton Scan</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>copado__Start_Time__c</field>
            <value>
                <elementReference>$Flow.InterviewStartTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>copado__Status__c</field>
            <value>
                <stringValue>Processing</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>copado__User_Story__c</field>
            <value>
                <elementReference>UserStoryId</elementReference>
            </value>
        </inputAssignments>
        <object>copado__Result__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Static_Code_Analysis_Result</name>
        <label>Create Static Code Analysis Result</label>
        <locationX>820</locationX>
        <locationY>758</locationY>
        <assignRecordIdToReference>StaticCodeAnalysisResultId</assignRecordIdToReference>
        <connector>
            <targetReference>Wait_Completed</targetReference>
        </connector>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>ClaytonStaticCodeAnalysisRecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>copado__User_Story__c</field>
            <value>
                <elementReference>UserStoryId</elementReference>
            </value>
        </inputAssignments>
        <object>copado__Static_Code_Analysis_Result__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Static_Code_Analysis_Violation</name>
        <label>Create Static Code Analysis Violation</label>
        <locationX>490</locationX>
        <locationY>1598</locationY>
        <connector>
            <targetReference>Create_Static_Code_Analysis_Violations</targetReference>
        </connector>
        <inputAssignments>
            <field>copado__File__c</field>
            <value>
                <elementReference>Create_Static_Code_Analysis_Violations.relativex5fpath</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>copado__Info_URL__c</field>
            <value>
                <elementReference>Create_Static_Code_Analysis_Violations.externalx5furl</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>copado__Line__c</field>
            <value>
                <elementReference>Create_Static_Code_Analysis_Violations.blame.line</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>copado__Message__c</field>
            <value>
                <elementReference>Create_Static_Code_Analysis_Violations.commentx5fbody</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>copado__Priority__c</field>
            <value>
                <elementReference>IssuePriority</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>copado__Rule__c</field>
            <value>
                <elementReference>Create_Static_Code_Analysis_Violations.name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>copado__Severity__c</field>
            <value>
                <elementReference>IssueSeverity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>copado__Static_Code_Analysis_Result__c</field>
            <value>
                <elementReference>StaticCodeAnalysisResultId</elementReference>
            </value>
        </inputAssignments>
        <object>copado__Static_Code_Analysis_Violation__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Read_Clayton_Static_Code_Analysis_Record_Type</name>
        <label>Read Clayton Static Code Analysis Record Type</label>
        <locationX>820</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_ScanByDiffInput</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Clayton</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>ClaytonStaticCodeAnalysisRecordTypeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_ClaytonScanJob</name>
        <label>Update Clayton Scan Job</label>
        <locationX>402</locationX>
        <locationY>1814</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CopadoResultId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>copado__End_Time__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>copado__Result_Data__c</field>
            <value>
                <elementReference>TriggerScanByDiff.200.lastx5freviewx5fresult</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>copado__Status__c</field>
            <value>
                <stringValue>Success</stringValue>
            </value>
        </inputAssignments>
        <object>copado__Result__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_ClaytonScanJobFailed</name>
        <label>Update ClaytonScanJobFailed</label>
        <locationX>930</locationX>
        <locationY>1118</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CopadoResultId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>copado__End_Time__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>copado__Error_Code__c</field>
            <value>
                <elementReference>Get_Pull_Request_Diff.responseCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>copado__Status__c</field>
            <value>
                <stringValue>Failed</stringValue>
            </value>
        </inputAssignments>
        <object>copado__Result__c</object>
    </recordUpdates>
    <start>
        <locationX>694</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Read_Clayton_Static_Code_Analysis_Record_Type</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ClaytonStaticCodeAnalysisRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CopadoResultId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CopadoStaticCodeAnalysisResult</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CurrentPage</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>PageSize</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>2.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>PullRequestId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ScanByDiffForm</name>
        <apexClass>ExternalService__clayton__ClaytonScanAPI_ScanByDiffForm</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ScanId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>StaticCodeAnalysisRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>StaticCodeAnalysisResult</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>copado__Static_Code_Analysis_Result__c</objectType>
    </variables>
    <variables>
        <name>StaticCodeAnalysisResultId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TaskId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TotalIssues</name>
        <apexClass>ExternalService__clayton__ClaytonPullRequestAPI_Issue</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UserStoryId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UserStoryName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <waits>
        <name>Wait_Completed</name>
        <label>Wait Completed</label>
        <locationX>820</locationX>
        <locationY>878</locationY>
        <defaultConnectorLabel>Default Path</defaultConnectorLabel>
        <waitEvents>
            <name>Get_Resume_Time_From_Formula</name>
            <conditionLogic>and</conditionLogic>
            <connector>
                <targetReference>Get_Pull_Request_Diff</targetReference>
            </connector>
            <eventType>AlarmEvent</eventType>
            <inputParameters>
                <name>AlarmTime</name>
                <value>
                    <elementReference>CheckScanIsCompletedResumeTime</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffset</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffsetUnit</name>
                <value>
                    <stringValue>Hours</stringValue>
                </value>
            </inputParameters>
            <label>Get Resume Time From Formula</label>
        </waitEvents>
    </waits>
</Flow>
