force-app/main/default/flows/Initialise_Scan_Context.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Get_Project_Id</name>
        <label>Get Project Id</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <actionName>GetClaytonProjectIdFromUserStoryId</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_Target_Branch</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>userStoryId</name>
            <value>
                <elementReference>UserStoryId</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>ProjectId</assignToReference>
            <name>projectId</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Get_Target_Branch</name>
        <label>Get Target Branch</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <actionName>GetTargetBranchFromUserStoryId</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Set_Base_Branch</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>userStoryId</name>
            <value>
                <elementReference>UserStoryId</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>TargetBranch</assignToReference>
            <name>targetBranch</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Set_Base_Branch</name>
        <label>Set Base Branch</label>
        <locationX>176</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>BaseBranch</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>feature/{!Get_User_Story.Name}</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <interviewLabel>Initialise Scan Context {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Initialise Scan Context</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_User_Story</name>
        <label>Get User Story</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Project_Id</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>UserStoryId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>copado__User_Story__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_User_Story</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>BaseBranch</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ProjectId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>TargetBranch</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>UserStoryId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
