force-app/main/default/flows/Store_ScanByDiff_Results.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Get_Scan_Diff</name>
        <label>Get Scan Diff</label>
        <locationX>578</locationX>
        <locationY>158</locationY>
        <actionName>clayton::ClaytonPullRequestAPI.getPullRequestDiffBranches</actionName>
        <actionType>externalService</actionType>
        <connector>
            <targetReference>Is_Scan_Diff_Completed</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>account</name>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>diff</name>
            <value>
                <elementReference>ClaytonScanId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>project</name>
            <value>
                <elementReference>ProjectId</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Get_Scan_Diff_Issues</name>
        <label>Get Scan Diff Issues</label>
        <locationX>226</locationX>
        <locationY>398</locationY>
        <actionName>clayton::ClaytonPullRequestAPI.getPullRequestDiffBranchesIssues</actionName>
        <actionType>externalService</actionType>
        <connector>
            <targetReference>Check_Processed_Pages</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Update_Clayton_Scan_Job_Failed</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>account</name>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>diffId</name>
            <value>
                <elementReference>ClaytonScanId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>project</name>
            <value>
                <elementReference>ProjectId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>size</name>
            <value>
                <elementReference>PageSize</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Get_Scan_Diff_Issues_Page</name>
        <label>Get Scan Diff Issues Page</label>
        <locationX>50</locationX>
        <locationY>638</locationY>
        <actionName>clayton::ClaytonPullRequestAPI.getPullRequestDiffBranchesIssues</actionName>
        <actionType>externalService</actionType>
        <connector>
            <targetReference>Add_issues</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>account</name>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>diffId</name>
            <value>
                <elementReference>ClaytonScanId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>page</name>
            <value>
                <elementReference>CurrentPage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>project</name>
            <value>
                <elementReference>ProjectId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>size</name>
            <value>
                <elementReference>PageSize</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Add_issues</name>
        <label>Add issues</label>
        <locationX>50</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>TotalIssues</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Scan_Diff_Issues_Page.200.content</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Increase_CurrentPage</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Increase_CurrentPage</name>
        <label>Increase Current Page</label>
        <locationX>50</locationX>
        <locationY>878</locationY>
        <assignmentItems>
            <assignToReference>CurrentPage</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Processed_Pages</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Is_Completed_False</name>
        <label>Is Completed False</label>
        <locationX>930</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>IsCompleted</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Is_Completed_True</name>
        <label>Is Completed True</label>
        <locationX>402</locationX>
        <locationY>1334</locationY>
        <assignmentItems>
            <assignToReference>IsCompleted</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Check_Processed_Pages</name>
        <label>Check Processed Pages</label>
        <locationX>226</locationX>
        <locationY>518</locationY>
        <defaultConnector>
            <targetReference>Read_Clayton_Static_Code_Analysis_Record_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>PagesAvailable</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CurrentPage</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>TotalPages</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Scan_Diff_Issues_Page</targetReference>
            </connector>
            <label>Pages Available</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Scan_Diff_Completed</name>
        <label>Is Scan Diff Completed</label>
        <locationX>578</locationX>
        <locationY>278</locationY>
        <defaultConnector>
            <targetReference>Is_Completed_False</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Success</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Scan_Diff.200.isx5fprocessing</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Scan_Diff_Issues</targetReference>
            </connector>
            <label>Success</label>
        </rules>
    </decisions>
    <formulas>
        <name>IssuePriority</name>
        <dataType>Number</dataType>
        <expression>CASE({!Create_Static_Code_Analysis_Violations.severity}, &apos;CRITICAL&apos;, 1, &apos;ERROR&apos;, 2,3)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>IssueSeverity</name>
        <dataType>String</dataType>
        <expression>CASE({!Create_Static_Code_Analysis_Violations.severity}, &apos;CRITICAL&apos;, &apos;Critical&apos;, &apos;ERROR&apos;, &apos;Major&apos;,&apos;Minor&apos;)</expression>
    </formulas>
    <formulas>
        <name>TotalPages</name>
        <dataType>Number</dataType>
        <expression>ROUND({!Get_Scan_Diff_Issues.200.totalx5fpages},0)</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Store ScanByDiff Results {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Store ScanByDiff Results</label>
    <loops>
        <name>Create_Static_Code_Analysis_Violations</name>
        <label>Create Static Code Analysis Violations</label>
        <locationX>402</locationX>
        <locationY>878</locationY>
        <collectionReference>TotalIssues</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Create_Static_Code_Analysis_Violation</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Clayton_Scan_Job</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Static_Code_Analysis_Result</name>
        <label>Create Static Code Analysis Result</label>
        <locationX>402</locationX>
        <locationY>758</locationY>
        <connector>
            <targetReference>Create_Static_Code_Analysis_Violations</targetReference>
        </connector>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>ClaytonStaticCodeAnalysisRecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>copado__User_Story__c</field>
            <value>
                <elementReference>UserStoryId</elementReference>
            </value>
        </inputAssignments>
        <object>copado__Static_Code_Analysis_Result__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Static_Code_Analysis_Violation</name>
        <label>Create Static Code Analysis Violation</label>
        <locationX>490</locationX>
        <locationY>998</locationY>
        <connector>
            <targetReference>Create_Static_Code_Analysis_Violations</targetReference>
        </connector>
        <inputAssignments>
            <field>copado__File__c</field>
            <value>
                <elementReference>Create_Static_Code_Analysis_Violations.relativex5fpath</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>copado__Info_URL__c</field>
            <value>
                <elementReference>Create_Static_Code_Analysis_Violations.externalx5furl</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>copado__Line__c</field>
            <value>
                <elementReference>Create_Static_Code_Analysis_Violations.blame.line</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>copado__Message__c</field>
            <value>
                <elementReference>Create_Static_Code_Analysis_Violations.commentx5fbody</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>copado__Rule__c</field>
            <value>
                <elementReference>Create_Static_Code_Analysis_Violations.name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>copado__Static_Code_Analysis_Result__c</field>
            <value>
                <elementReference>Create_Static_Code_Analysis_Result</elementReference>
            </value>
        </inputAssignments>
        <object>copado__Static_Code_Analysis_Violation__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Read_Clayton_Static_Code_Analysis_Record_Type</name>
        <label>Read Clayton Static Code Analysis Record Type</label>
        <locationX>402</locationX>
        <locationY>638</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Static_Code_Analysis_Result</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Clayton</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>ClaytonStaticCodeAnalysisRecordTypeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Clayton_Scan_Job</name>
        <label>Update Clayton Scan Job</label>
        <locationX>402</locationX>
        <locationY>1214</locationY>
        <connector>
            <targetReference>Is_Completed_True</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CopadoResultId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>copado__End_Time__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>copado__Result_Data__c</field>
            <value>
                <elementReference>Get_Scan_Diff.200.lastx5freviewx5fresult</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>copado__Status__c</field>
            <value>
                <stringValue>Success</stringValue>
            </value>
        </inputAssignments>
        <object>copado__Result__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Clayton_Scan_Job_Failed</name>
        <label>Update Clayton Scan Job Failed</label>
        <locationX>666</locationX>
        <locationY>518</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CopadoResultId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>copado__Status__c</field>
            <value>
                <stringValue>Failed</stringValue>
            </value>
        </inputAssignments>
        <object>copado__Result__c</object>
    </recordUpdates>
    <start>
        <locationX>452</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Scan_Diff</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ClaytonScanId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ClaytonStaticCodeAnalysisRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CopadoResultId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CurrentPage</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>IsCompleted</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>PageSize</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>30.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>ProjectId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TotalIssues</name>
        <apexClass>ExternalService__clayton__ClaytonPullRequestAPI_Issue</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UserStoryId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
